
@media only screen and (min-width : 320px) and (max-width: 720px) {
	.mainContainer{
	width: 100%;
}

header .userLogo{
	display: none;
}

section{
	display: none;
}
aside{
	width: 100%;
}
h3{
	background: #dadada;
	color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
    border: 1px solid #d3d3d3;
}
.ui-accordion-header-active {
    background: none;
}
footer{
	margin-top: 20px;
	float: left;
	width: 100%;
	background: #000;
	color: #fff;
	height: 20px;
	text-align: center;
}
}
